div {
    width: 50%;
    margin: 15% 25% 0% 25%;
}

img {
    width: 100%;
    border: 2px solid white;
}

h1, p {
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
    width: 100%;
}
h1 {
    text-transform: uppercase;
}

* {
    background-color: black;
}